<app-sidebar></app-sidebar>
<main id="main">
    <section id="content">
        <form action="#">
            <div class="form-group">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search....">
                <i class='bx bx-slider'></i>                
            </div>
        </form>
        <div class="icon">
            <a href="#" class="nav-link">
                <i class='bx bxs-bell'></i>
                <!-- <span class="badge">5</span> -->
            </a>
            <a href="#" class="nav-link">
                <i class='bx bx-power-off'></i>
                <!-- <span class="badge">8</span> -->
            </a>
            <a href="#" class="nav-link">
                <i class='bx bxs-user-circle'></i>
            </a>
        </div>

        
    </section>
    <p class="pClass">User Dashboard</p>
    <div class="btnCreate">
        <a href="create.html"><i class='bx bxs-plus-circle'></i>Create</a>
    </div>
    <section>
        <div class="table">
        <table id="userTable">
            <thead>
            <tr >
              <th >Sr No.</th>
              <th >Name.</th>
            
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of client; let i =index">
              <th >{{i+1}}</th>
              <td>{{g.Name}}</td>
            
          
            </tr>
            </tbody>
            </table>
       
           
        </div>
    </section>
</main>