
<main id="main" class="p-5">
    <app-header></app-header>

    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body fs-4 text">
                    User Dashboard
                </div>
              </div>
        </div>
        <div class="col-lg-2">
            <div class="btnCreate">
                <a href="create.html" class="btn btn-secondary custom-btn p-3"><i class='bx bxs-plus-circle'></i>Create</a>
            </div>
        </div>
    </div>
    <section>
        <div class="table table-responsive">
        <table id="userTable" class="table table-hover table-success table-striped">
            <thead>
            <tr >
              <th >Sr No.</th>
              <th >Name.</th>
            
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of client; let i =index">
              <th >{{i+1}}</th>
              <td>{{g.Name}}</td>
            
          
            </tr>
            </tbody>
            </table>
       
           
        </div>
    </section>
</main>