
<main id="main" class="p-5">
    <app-header></app-header>
    <section id="" class="container">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body fs-4 text">
                    Work Order Management
                </div>
              </div>
        </div>
        <div class="col-lg-2">
            <div class="">
                <a href="create.html" class="btn btn-secondary custom-btn"><i class='bx bxs-plus-circle fs-3 text px-2'></i>Create</a>
            </div>
        </div>
    </div>
   
    <div class="row">
            <div class="col-lg-12">
        <div class="table table-responsive">
        <table id="userTable" class="table table-hover table-striped">
            <thead>
            <tr>
              <th scope="col">Sr No.</th>
              <th scope="col">Asset</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
              <th scope="col">priority</th>
              <th scope="col">subject</th>
              <th scope="col">Work Order</th>
              <th scope="col">Assigned User</th>
              <th scope="col">Assign</th>
             
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of work_order; let i =index">
              <td>{{i+1}}</td>
              <td>{{g.asset}}</td>
              <td>{{g.category}}</td>
              <td>{{g.desc}}</td>
              <td>{{g.loc}}</td>
              <td>{{g.status}}</td>
              <td>{{g.priority}}</td>
              <td>{{g.subject}}</td>
              <td>{{g.wo_status}}</td>
              <td>{{g.assigned_user.name}}</td>
              <td><button class="btn btn-secondary custom-btn" *ngIf="g.assigned_user_id==null||g.assigned_user_id==''||g.assigned_user_id==0"  (click)="(open(modelGroupAdd, 'lg',g.work_id))">Assign</button>
                  <button class="btn btn-secondary custom-btn" *ngIf="g.assigned_user_id" (click)="assignUser(g.work_id,0)">UnAssigns</button>
                    </td>
            </tr>
         </tbody>
     </table>
       
           
        </div>
    </div>
    </div>
    <ng-template #modelGroupAdd let-c="close" let-d="dismiss" >
    <div class="modal-header">
    <h4 class="modal-title">User List For Assign</h4>

    <button type="button" class="close" (click)="d('Cross click')">×</button>
    </div>
      <div class="mb-3" style="margin-left: 50px;">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Select User for assign task
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1"  >
                        <div *ngFor="let item of users">
                        <button ngbDropdownItem (click)="assignUser(temp_work_id,item.id)">{{item.name}}</button>
                    </div>
                    </div>
                </div>
            </div>
  
    <div class="modal-footer">
      <button class="btn btn-white" (click)="c('Close click')">Close</button>
  </div>
 
  </ng-template>
</section>
</main>

