
<section id="" class="container">
        
    <div class="row">
        <div class="col-md-6">
            <form action="#">
                <div class="form-group">
                   <i class='bx bx-search'></i>
                   <input type="text" placeholder="Search....">
                   <i class='bx bx-slider'></i>
                </div>
             </form>
        </div>
        <div class="col-md-6">
            <div class="icon d-flex justify-content-end">
                <a href="#" class="nav-link">
                   <i class='bx bxs-bell'></i>
                </a>
                <a href="#" class="nav-link">
                   <i class='bx bx-power-off'></i>
                </a>
                <a href="#" class="nav-link">
                   <i class='bx bxs-user-circle'></i>
                </a>
             </div>
        </div>

    </div>
</section>