<!-- navbar.component.html -->
<nav class="navBar">
    <div class="img">
        <img src={{baseUrl}} alt="logo">
        <p>CLOVERLEAF <br><span class="logo-sm-txt">An Industry 4.0</span></p>
    </div>

    <ul class="Ul">
      
       <li class="txt-color"><a routerLink="/dashboard/workorder-dashboard"> <i class='bx bxs-dashboard'></i>DASHBOARD</a></li>
       <li class="txt-color"><a routerLink="/dashboard/workorder-management"><i class='bx bx-user'></i>WORK ORDER MANAGEMENT</a> </li>
        <li class="dropdown">
            <a (click)="toggleDropdown($event)"><i class='bx bx-book-content'></i>CLUSTER MANAGEMENT <i class='bx bx-plus-circle'
                    id="test"></i></a>
            <ul class="dropdown-content">
                <li class="d"><a routerLink="/dashboard/freelancer-dashboard">Freelancer Dashboard</a></li>
                <li class="d"><a routerLink="/dashboard/freelancer-registration">Freelancer Registration</a></li>
                <li class="d"><a routerLink="/dashboard/freelancer-assignment">Freelancer Assignment</a></li>
                <li class="d"><a routerLink="/dashboard/workorder-dashboard">Work Order Dashboard</a></li>
                <li class="d"><a routerLink="/dashboard/workorder-status">Work Order Status</a></li>
            </ul>
        </li>
        <li class="txt-color"><a routerLink="/dashboard/client"><i class='bx bx-group'></i>CLIENT MANAGEMENT</a></li>
        <li class="txt-color"><a routerLink="/dashboard/client-assets"><i class='bx bx-group'></i>CLIENT Assets</a></li>
        <li class="txt-color"><a routerLink="/dashboard/settings"><i class='bx bx-cog'></i>SETTING</a></li>
    </ul>
</nav>

