<!-- work-order-dashboard.component.html -->
<app-sidebar></app-sidebar>
<main id="main">
    <section id="content">
       <form action="#">
          <div class="form-group">
             <i class='bx bx-search'></i>
             <input type="text" placeholder="Search....">
             <i class='bx bx-slider'></i>
          </div>
       </form>
       <div class="icon">
          <a href="#" class="nav-link">
             <i class='bx bxs-bell'></i>
          </a>
          <a href="#" class="nav-link">
             <i class='bx bx-power-off'></i>
          </a>
          <a href="#" class="nav-link">
             <i class='bx bxs-user-circle'></i>
          </a>
       </div>
    </section>
    <p class="pClass">Work Order Dashboard</p>
    <section class="workload-section">
       <div class="PiChart">
          <h2 class="headSpace">Over All Status</h2>
          <canvas id="myPieChart"></canvas>
       </div>
    </section>
 </main>
 